<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- applicationContext.xml DB 설정 -->
	<!-- JDBC 설정 정보, DB연결하기 -->
	
	<!-- //1. 드라이버 로드
	//2. 연결 & 오픈 -->
	
	 <!-- p:defaultAutoCommit="true"  -->
	 <!-- <property name="defaultAutoCommit" value="false" />  -->

	 
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
		<property name="driverClassName"  value="org.mariadb.jdbc.Driver" />
		<property name="url" value="jdbc:mariadb://127.0.0.1:3306/encore"/>
		<property name="username" value="root" />
		<property name="password" value="maria"/>
	</bean>
	
	<!-- 	
	<bean id="dataSource" 
		 p:url="jdbc:mariadb://127.0.0.1:3306/sampledb"
		 p:username="root"
		 p:password="maria"
		 p:driverClassName="org.mariadb.jdbc.Driver"
		 
		class="org.springframework.jdbc.datasource.DriverManagerDataSource" />
	 -->
	<bean class="org.springframework.jdbc.core.JdbcTemplate" p:dataSource-ref="dataSource" />
</beans>







