<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert View</title>
</head>
<body>
<div>
    <H1>User Insert</H1>

    <table border="1">
        <thead>
        <tr>
            <th>userCode</th>
            <th>userName</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th th:text="${testTable.userCode}"></th>
            <th th:text="${testTable.userName}"></th>
        </tr>
        </tbody>
        <tr><a th:href="@{/list}">리스트</a></tr>
    </table>
</div>
</body>
</html>