# MariaDB setting
server:
  port: 8080

spring:
  sql:
    init:
      platform: mariadb
      encoding: UTF-8
      mode: always

  datasource:
    url: jdbc:mariadb://localhost:3306/encore
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: maria

  devtools:
    livereload:
      enabled: true

  #thymeleaf auto refresh
  thymeleaf:
    cache: false

# mybatis mapping
# mapper.xml  location
mybatis:
  type-aliases-package: com.example.spring.myapp.model
  mapper-locations: mybatis/mapper/**/*.xml

# TestTableMapper.xml 파일이 위치하는 경로
# **은 하위 폴더 레벨에 상관없이 모든 경로를 뜻하며, *는 아무 이름이나 와도 된다는것을 뜻한다.

